<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>984689023810-kfa21r18cd0avr26n8b4ihf534qe3tte.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.984689023810-kfa21r18cd0avr26n8b4ihf534qe3tte</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>984689023810-t9ekouro3u0nk1q5kphdhf315eest70p.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAQ7vxfSNDtqiAtbm7bg5hVq42Ce_3S3zU</string>
	<key>GCM_SENDER_ID</key>
	<string>984689023810</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.exempel.picaname</string>
	<key>PROJECT_ID</key>
	<string>picaname-app</string>
	<key>STORAGE_BUCKET</key>
	<string>picaname-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:984689023810:ios:182f90e7c6ff30e63446db</string>
</dict>
</plist>